summary {
    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }

    &::after {
        content: '+';
        color: $accent;
        display: inline-block;
        width: 1em;
    }

    details[open] &::after {
        content: '\\';
    }
}
