<script>
    const LETTERS = "▁▂▃▄▅▆▇█"

    document.querySelectorAll(".scramble").forEach(element => {
    let isScrambling = false; // Add a flag to track if scrambling is in progress

    element.onmouseover = event => {
        if (isScrambling) return; // If scrambling is in progress, return early

        isScrambling = true; // Set the flag to true when scrambling starts
        let iters = 0;
    
        const INTERVAL = setInterval(() => {
        event.target.innerText = Array.from(event.target.innerText)
            .map((letter,index) => {
            if(index < iters){
                return Array.from(event.target.dataset.value)[index]
            }
            return LETTERS[Math.floor(Math.random() * LETTERS.length)]
        })
            .join("");
        
        if(iters >= Array.from(event.target.dataset.value).length){
            clearInterval(INTERVAL);
            isScrambling = false; // Reset the flag when scrambling finishes
        }
        
        iters +=1;
        },69);
    }
    });
</script>